name: Run Tests and Coverage

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          key:  $ {{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          path: ~/.m2/repository
          restore-keys: ${{ runner.os }}-m2

      - name: maven-setup
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          repositories: |
            [
              { 
                "id": "github", 
                "url": "https://maven.pkg.github.com/pichidev/*",
                "releases": {
                "enabled": "true"
                },
                "snapshots": {
                  "enabled": "false"
                }
              }
            ]
          servers: | 
            [
              {
                "id": "github",
                "username": "${{ secrets.READ_PACKAGES_USER }}",
                "password": "${{ secrets.READ_PACKAGES_TOKEN }}"
              }
            ]
          output_file: "${{ github.workspace }}/settings.xml"

      - name: Install, Build and test with maven
        run: mvn -B clean verify -s ${{ github.workspace }}/settings.xml

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: |
            ${{ github.workspace }}/**/target/reports/jacoco/jacoco.xml,
          token: ${{ secrets.GITHUB_TOKEN }}
